body {
    font-family: Grotesk, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .9rem;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: .1em;
    font-weight: 300;
}
h2 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: .1em;
    font-weight: 300;
}

#main {
    margin: 25px auto;
    width: 95%
}

div.before {
    width: 30%;
    display: inline-block;
}

div.after {
    width: 30%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

div.result {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

div.center {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 20%;
    margin-left: 10px;
	text-align: center;
}


textarea {
    width: 100%;
    min-height: 500px;
    padding: 5px;
    background: #f3f3f3;
    border-radius: 4px;
    resize: vertical;
    white-space: pre;
    word-wrap: normal;
}


button {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    background: white;
    padding: .5rem .7rem;
	cursor: pointer;
}


p {
    margin-bottom: 1em;
}

.header {
    height: 4em;
}
